html {
    /*background-color: #e6e9e9;*/
    background: url('img/bg-t-nau-star.png') top left repeat;
}

h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}
h1 {
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

#content {
    margin: 70px 50px 0px 50px;
    padding: 70px 10px 10px 10px;
    max-width: 100%;
}

#footer {
    margin: 5px 50px 0px 50px;
    padding: 10px;
    max-width: 100%;
}

#content, #footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: rgba(0, 0, 0, 0.5);
    /*background-color: #ffffff;*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

#content h1 {
    color: darkgray !important;
}

#content img {
    background: transparent;
    border: 7px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

#lenta marquee {
    position: fixed;
    margin-left: -7px;
    top: 70px;
    color: darkgray !important;
    height: 70px;
    width: 100%;
}

#logotip {
    display: inline-block;
    float: left;
    margin-top: 0px;
    margin-left: 0px;
}

#logotip img {
    height: 70px;
    width: 300px;
}

#header {
    background-color: darkgray;
    opacity: 1;
    
    display: inline-block;
    position: fixed;
    text-align: center;
    
    margin-left: -7px;
    top: 0px;
    height: 70px;
    width: 100%;
}

#menu ul {
    margin-top: 20px;
    margin-right: 0px;
}

#menu ul li {
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: #222;
    
    font-weight: 600;
    font-size: 18pt;
    font-family: sans-serif;
    font-style: normal;
    
    line-height: 1.3em;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 23px;
    padding-bottom: 23px;
    /*border: 1px solid black;*/
}

#menu a:hover, 
    .default-table tbody tr:hover {
    color: dodgerblue;
    background-color: black;
    font-weight: bold !important;
}

.default-table {
    border: 7px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 100%;
}

.default-table thead {
    background-color: dodgerblue;
    font-size: 18pt;
    color: black;
}

.default-table tbody {
    font-size: 17pt;
}

.default-table tbody tr td {
    text-align: center;
}